.toll-invoice-format *,
.toll-invoice-bill-format *,
.toll-invoice-format-for-own * {
    color: black;
    margin: 0;
    padding: 0;
    font-family: Math;
}

.toll-invoice-format table,
.toll-invoice-bill-format table,
.toll-invoice-format-for-own table {
    width: 100%;
    border-collapse: collapse;
}

.toll-invoice-format .table-head td,
.toll-invoice-format .table-body td,
.toll-invoice-format .total td,
.toll-invoice-bill-format .table-head td,
.toll-invoice-bill-format .table-body td,
.toll-invoice-format-for-own .table-head th,
.toll-invoice-format-for-own .table-body td {
    padding: 8px;
    border: 1px solid black;
    text-align: center;
}

.toll-invoice-format .table-head td,
.toll-invoice-bill-format .table-head td,
.toll-invoice-format-for-own .table-head th {
    background-color: #99ccff;
}
